# Lab 4: Introduction to Python Environments
## Anaconda & Jupyter Notebook

This lab introduces **Anaconda** and **JupyterLab/Notebook, which we will use throughout the course.

## Learning Objectives
- Launch Jupyter Notebook using Anaconda
- Create and run Python code cells
- Use basic Python syntax
- Work with common Python data types

## ðŸ”¹ Part I â€” Getting Started with Jupyter Notebook
Jupyter notebooks are made of **cells**.
- Code cells execute Python
- Markdown cells contain text

In [1]:
print('Hello, world!')

Hello, world!

## ðŸ”¹ Part II â€” Basic Python Syntax

In [2]:
# Printing output
print("Welcome to Python!")

# Variables
x = 10
y = 5

# Arithmetic
print(x + y)
print(x * y)

Welcome to Python!
15
50

## ðŸ”¹ Part III â€” Python Data Types

In [3]:
# Numbers
a = 3
b = 2.5
print(a, b)

# Strings
name = "Student"
print("Hello,", name)

# Lists
nums = [1, 2, 3, 4]
print(nums)

3 2.5
Hello, Student
[1, 2, 3, 4]

## ðŸ”¹ Part IV â€” Input and Output

In [4]:
user = input("Enter your name: ")
print("Nice to meet you,", user)

Enter your name:  Tyler Ellington-Howell

Nice to meet you, Tyler Ellington-Howell

## Student Tasks
Complete the tasks below.

### Task 1 â€” Modify Output
- Change the print statement to display your name.

In [5]:
print('My name is',user)

My name is Tyler Ellington-Howell

### Task 2 â€” Variables
- Create two numbers and print their sum and product.

In [7]:
# numbers
x = int(input("Enter first integer"))
y = int(input("Enter second integer"))
sum = x+y
product = x*y

print("Sum:",sum)
print("Product:",product)

Enter first integer 5
Enter second integer 3

Sum: 8
Product: 15

### Task 3 â€” Lists
- Create a list of 5 numbers and print its length.

In [8]:
numList = [333, 22, 1]
print("This list contains",len(numList),"numbers")

This list contains 5 numbers

### Task 4 â€” Reflection
- Add a Markdown cell explaining what Jupyter Notebook is.

Jupyter Notebook is an environment that allows for documents to be create and shared with interactive code in addition to other features seen in most documenting software.